<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> <%= locale('bars and waves | caprice blog') %></title>
  <meta name="description" content="<%= locale("bars and waves, my programming blog recording and sharing everything interesting.")%>">
  <meta name="keywords" content="<%= locale("blog, programming, caprice, life, surfing") %>">
  <link rel="stylesheet" type="text/css" media="all" href="/static/github-markdown.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/static/style.css" />
  <script data-ad-client="ca-pub-6599838329486026" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
