<!doctype html>
<html lang="zh">
  <%- include('component/head') %>
  <body class="custom-background">
    <div id="page">
      <h1><%= locale("not found", { locale }) %></h1>
    <div>

    <%- include('component/script') %>
  </body>
</html>
